body {
  margin-top: 20px;
}

form {
  margin-bottom: 20px;
}

.tweet {
  width:100%;
}

.tweet img {
  padding-top:5px;
  width:100%;
}

.checkbox {
  white-space: nowrap;
  width: 20px;
}

.user-info {
  margin-top: 10px;
}

.user-info img {
  margin-right: 5px;
  border: thin solid lightgray;
  border-radius: 5px;
}

#screenName {
  width:180px;
}

#retweetFilter {
  width:75px;
}

.container {
  max-width: 800px;
}