body {
  margin-top: 20px;
}

form {
  margin-bottom: 20px;
}

.tweet {
  width:100%;
}

.tweet img {
  width:100%;
}

input {
  /*width:20%;*/
}

.checkbox {
  white-space: nowrap;
  width: 20px;
}

.form-control {
  /*width:33%;*/
}

small {
  /*white-space: nowrap;*/
}

.user-info {
  margin-top: 10px;
}

.user-info img {
  margin-right: 5px;
  border: thin solid lightgray;
  border-radius: 5px;
}

#screenName {
  width:200px;
}

#retweetFilter {
  width:50px;
}
