<div class='container' ng-model='twitterAPI.tweets' >
  <div class="row">

    <div class="col-xs-11">

      <form class="form-inline" name='tweetsForm' ng-submit="submitSearch()">
        
        <input class="form-control" name='screenName' type="text"
        ng-model="data.screenName"
        placeholder="Enter twitter handle here" required>
        
        <input class="form-control" name='retweetFilter' type="text"
        ng-model="data.retweetFilter"
        placeholder="Enter twitter handle here" required>

        <input class="checkbox" type="checkbox" name="displayPhotos" ng-model="data.displayPhotos" />Display Photos

        <button type="submit" value="Submit" class='btn btn-primary' ng-disabled='shortlyForm.$invalid'>
        Search
        </button>
      </form>
    </div>
    
    <div class="col-xs-3">
      <div>
        <!-- <img src="{{ data.userPhoto }}"> -->
        <span>data.userPhoto</span><br>
        <span>data.userName</span><br>
        <span>data.userDescription</span>
      </div>
      
    </div>
    
    <div class="col-xs-7">
      <div class="tweets ">
        <div class="tweet" ng-repeat='tweet in data.tweets'>
          <span>{{ tweet.text }}</span><br>
          <img src="{{ tweet.img }}">
        </div>
      </div>
      
    </div>
  </div>
  
  
  
  
  
</div>