<div id='container' ng-model='twitterAPI.tweets' >
  
  <form name='tweetsForm' ng-submit="submitSearch()" novalidate>
    
    <input name='screenName' type="text"
    ng-model="data.screenName"
    placeholder="Enter twitter handle here" required>
    <button type="submit" value="Search" ng-disabled='shortlyForm.$invalid'>
    Search
    </button>
  </form>
   
  <!-- <div>
    <img src="{{ data.userPhoto }}">
    <span>{{ data.userName }}</span>
    <span>{{ data.userDescription }}</span>
  </div> -->

  <div style="width:400px;" ng-repeat='tweet in data.tweets'>
    <span>{{ tweet.text }}</span><br>
    <img style="width:400px;" src="{{ tweet.img }}">
  </div>
</div>